main{
    width: 100vw;
    height: 100vh;
    background-color: #09010d;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.escolhaPrinc{
    margin: auto;
    width: 20%;
    background: rgb(102,15,49);
    background: linear-gradient(152deg, rgba(102,15,49,1) 0%, rgba(156,23,59,1) 50%, rgba(102,15,49,1) 100%);
    border: solid 2px #9c173b;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12%;
}

h2{
    color: #0ce6f2;
    margin-bottom: 2%;
}

.botoes{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.btn{
    font-weight: bold;
    background-color: #9c173b;
    color: #0098db;
    margin: 10px;
}
.btn:hover{
    background-color: #ff0546;
    color: #0ce6f2;
}

#cliente{
    padding-left: 14.8%;
    padding-right: 14.8%;
}


.cadClient{
    color: white;
    margin: auto;
    display: none;
    width: 90%;
}
form{
    background: rgb(102,15,49);
    background: linear-gradient(152deg, rgba(102,15,49,1) 0%, rgba(156,23,59,1) 50%, rgba(102,15,49,1) 100%);
    margin: auto;
    width: 45%;
    border: solid 2px gray;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.linhas{
    width: 40%;

}
input{
    padding: 1%;
    width: 100%;
    border: 0;
    border-radius: 5px;

}

label{
    margin-top: 10px;
    margin-bottom: 0;
    color: #103166;
    display: block;
}

.subc{
    margin: 0;
    width: 100%;
}

.cadFuncionario{
    width: 90%;
    display: none;
    color: white;
    margin: auto;
}